[Unit]
Description=NEPSE Frontend Next.js
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/nepse/nepse-saas-frontend
EnvironmentFile=/etc/nepse-frontend.env
ExecStart=/usr/bin/npm run start -- -p 3000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
